html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body{
    background-color:black;
    display: table-cell;
    vertical-align: middle;    
}

#inst{
    text-align: center;
}

fieldset{
    border-radius: 10px;
    border-color: blue;
    box-shadow:0 0 10px blue;
    color:white;
    background-color: black;
    display: inline-block;
    font-family: sans-serif;
}